{% extends 'admin/master_with_menu.twig' %}

{% block main_content %}

        <div class="page-header">
            <h1 class="">/{{ page_name }} <small>/{{ action }}</small></h1>
        </div>

    <form action="{{ siteUrl }}" class="form-horizontal default-form-validation" role="form" method="post">
        {#<input type="hidden" name="_METHOD" value="PUT"/>#}
        <input type="hidden" name="id" value="{{ table.id }}"/>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="titulo">Título</label>
            <div class="col-sm-8">
                <input value="{{ table.titulo }}" data-slug-target="#slug" type="text" class="form-control" id="titulo" name="titulo" placeholder="Coloque um nome pra categoria" required="required">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="slug">Slug (URL)</label>
            <div class="col-sm-8">
                <input value="{{ table.slug }}" type="text" class="form-control" id="slug" name="slug" required="required" placeholder="Esse é o nome que a URL terá">
            </div>
        </div>

        <!-- SELECT -->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="categoria_id">Categoria</label>
            <div class="col-sm-8">
                <select class="form-control" name="categoria_id" id="categoria_id">
                    <option value="0">SELECIONE</option>
                    {% for row in categorias %}
                    <option value="{{ row.id }}" {% if row.id == table.categorias.id %} selected {% endif %} >{{ row.id }} - {{ row.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label" form="localizacao">Localização</label>
            <div class="col-sm-8">
                <input value="{{ table.localizacao }}" type="text" class="form-control" id="localizacao" name="localizacao" required="required" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="ano">Ano</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="ano" name="ano">{{ table.ano }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="metragem">Metragem</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="metragem" name="metragem">{{ table.metragem }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="descricao">Descrição</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="descricao" name="descricao">{{ table.descricao }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!--                            $('#submit-button').button('loading')-->
                <button type="submit" id="submit-button" data-loading-text="Loading..."  class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

{% endblock %}