{% extends 'admin/master_with_menu.twig' %}

{% block main_content %}

        <div class="page-header">
            <h1 class="">/{{ page_name }} <small>/{{ action }}</small></h1>
        </div>

    <form action="{{ siteUrl }}" class="form-horizontal default-form-validation" role="form" method="post">
        {#<input type="hidden" name="_METHOD" value="PUT"/>#}
        <input type="hidden" name="id" value="{{ table.id }}"/>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="path">Imagem</label>
            <div class="col-sm-8">

                <input type="hidden" name="path" id="path" value="{{ table.path }}" />

                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Select files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]">
                </span>


            </div>
        </div>

        <!-- SELECT -->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="connection_type">Tipo</label>
            <div class="col-sm-8">
                <select class="form-control" name="connection_type" id="connection_type">
                    <option value="">SELECIONE</option>
                    <option {% if table.connection_type == 'Portfolio' %} selected {% endif %} value="Portfolio">Portfolio</option>
                    <option {% if table.connection_type == 'Noticias' %} selected {% endif %} value="Noticias">Noticias</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="description">Descrição</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="description" name="description">{{ table.description }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!--                            $('#submit-button').button('loading')-->
                <button type="submit" id="submit-button" data-loading-text="Loading..."  class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

{% endblock %}