{% extends 'admin/master_with_menu.twig' %}

{% block main_content %}

            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>TOTAL DE CATEGORIAS</h4>
                    <span class="text-muted">{{ total_categorias }}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>TOTAL DE PORTFOLIO</h4>
                    <span class="text-muted">{{ total_portfolio }}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>TOTAL DE NOTÍCIAS</h4>
                    <span class="text-muted">{{ total_noticias }}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    {#<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">#}
                    <h4>TOTAL DE FOTOS</h4>
                    <span class="text-muted">{{ total_fotos }}</span>
                </div>

                <div class="col-xs-6 col-sm-3 placeholder">
                    {#<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">#}
                    <h4>TOTAL DE CONTATOS</h4>
                    <span class="text-muted">{{ total_contatos }}</span>
                </div>
            </div>

{% endblock %}